<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="SPJ Critical">
            <file>tests/Unit/SpjScenarioFactoryTest.php</file>
            <file>tests/Unit/QuarterNumberingPlaceholderTest.php</file>
            <file>tests/Unit/ArkasSourceKeyResolverTest.php</file>
            <file>tests/Feature/ArkasGenericImportSourceKeyTest.php</file>
            <file>tests/Feature/ArkasImporterTenantBoundaryTest.php</file>
            <file>tests/Feature/CriticalDocumentWorkflowTest.php</file>
            <file>tests/Feature/DocumentNumberingWorkflowTest.php</file>
            <file>tests/Feature/LegacySpjRuntimeNormalizationTest.php</file>
            <file>tests/Feature/SafeArkasSynchronizationTest.php</file>
            <file>tests/Feature/SecurityHardeningTest.php</file>
            <file>tests/Feature/ServiceRecipientReconciliationTest.php</file>
            <file>tests/Feature/SiplahMarketplaceDocumentPolicyTest.php</file>
            <file>tests/Feature/SpjAuditDiffCommandTest.php</file>
            <file>tests/Feature/SpjAuthorizationContextHardeningTest.php</file>
            <file>tests/Feature/SpjLifecycleHardeningTest.php</file>
            <file>tests/Feature/SpjMaintenanceLinkWorkspaceTest.php</file>
            <file>tests/Feature/SpjOwnershipMigrationTest.php</file>
            <file>tests/Feature/SpjPackageNavigationContextTest.php</file>
            <file>tests/Feature/SpjPackageTransactionBoundaryTest.php</file>
            <file>tests/Feature/SpjPreNumberingRegressionTest.php</file>
            <file>tests/Feature/SpjQuarterAuditCommandTest.php</file>
            <file>tests/Feature/SpjQuarterAuditPolicyTest.php</file>
            <file>tests/Feature/SpjRoleAuthorizationMiddlewareTest.php</file>
            <file>tests/Feature/SpjSafeSyncReconciliationHardeningTest.php</file>
            <file>tests/Feature/SpjSchoolIsolationTest.php</file>
            <file>tests/Feature/SpjSourceReconciliationResolutionTest.php</file>
            <file>tests/Feature/SyncProgressUiTest.php</file>
            <file>tests/Feature/SpjVerifyCommandTest.php</file>
            <file>tests/Feature/SpjWorkspaceMigrationTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value="database/testing.sqlite"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
